@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body, main{
    height: 100vh;
    width: 100vw;
}


#imagem{
    background-image: url(../imagens/pequeno.jpg);
    background-position: bottom right;
    background-size: cover;
}

#formulario{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 15px 15px;
}

#caixa-texto > h1{
    text-align: center;
}

#caixa-pessoa{
    position: relative;
    background-color:  #7d3aad;   
    border-radius: 7px;
}

#icone-pessoa{
    position: absolute;
}

#email{
    position: absolute;
}

#iemail{
    background-color: rgb(125, 230, 195);
    border-radius: 5px;
    border: none;
}

#caixa-senha{
    position: relative;
    background-color:  #7d3aad;
    border-radius: 7px;
}

#icone-senha{
    position: absolute;
}

.material-symbols-outlined{
    color: white;    
}

#senha{
    position: absolute;
}

#isenha{
    background-color: rgb(125, 230, 195);
    border-radius: 5px;
}

#enviar{
    background-color: #32A780;
    border-radius: 10px;
}

#botao-enviar{
    background-color: transparent;
    border: none;
    color: white;
}

#botao-recup-senha{
    text-align: center;
    border: 1px solid #32A780;
    border-radius: 10px;
}

#recup-senha  a{
    color: #32A780;
    text-decoration: none;
}

#botao-recup-senha  .material-symbols-outlined{
    font-size: 18px;
    color: #32A780;
}

#botao-enviar:hover{
    background-color: #278565;
    border-radius: 10px;
    cursor: pointer;
}

#botao-recup-senha:hover{
    background-color: rgb(214, 214, 214);
}
