@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

body{
    background-color: rgb(146, 207, 164);
    overflow-x: hidden;
}
header{
    background-image: linear-gradient(to bottom, rgb(118, 197, 118), rgb(0, 97, 24));
    margin: -25px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header > h1{
    text-align: center;
    color: white;
    padding: 15px;
    font-weight: bold ;
    font-size: 2.3em;
    text-shadow: 1px 1px 1px black;
}
header > p{
    text-align: center;
    color: white;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px black;
}

header> nav > a{
    color: white;
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    font-weight: bold;
}
header > nav > a:hover{
    background-color: rgb(1, 56, 14);
}
.video{
    text-align: center;
    background-color: rgb(66, 102, 66);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px -30px 15px -30px;
} 

.video > iframe {  
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 600px;
    text-align: center;
}
ul li::marker{
    content: "✓ ";
} 

ul#lista_versoes{
    columns: 2;
    
}

section{
    background-color: white;
    width: auto;
    max-width: 800px;
    padding: 10px 30px 20px 30px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 15px black;
}


section > article >  p >  a{
    text-decoration: none;    
    color: rgb(13, 122, 13);
    font-weight: bold;
}
div >  a{
    text-decoration: none;    
    color: rgb(13, 122, 13);
    font-weight: bold;
}

article > h1{
    font-family: 'idroid', sans-serif;
    font-size: 1.5em;
    color: rgb(11, 100, 11);
}
article > h2{
    font-family: 'idroid', sans-serif;
    font-size: 1.25em;
    background-image: linear-gradient(to right, rgb(206, 243, 206), rgb(253, 255, 253));
    color: rgb(11, 100, 11);
}
#aprender{
    background-color: rgb(208, 252, 208);
    border-radius: 0px 0px 20px 20px;
    padding: 3px 10px 3px 10px;

}
#aprender > p > a{
    text-decoration: none;    
    color: rgb(13, 122, 13);
    font-weight: bold;
}
.alinharfoto{
    text-align: center;
}
article > h3{
    background-color: rgb(44, 177, 104);
    margin: 0;
    color: white;
    padding-left: 6px;
    border-radius: 5px 5px 0px 0px;
}
p{
    text-indent: 20px ;
}

footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(6, 100, 53);
    margin: 20px -8px -8px -8px;
    text-align: center;
    color: white;
}
footer > span{
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
